<% include head %>

    <script type="text/x-handlebars" data-template-name="messages">
      <section id="prataapp">
        <header class="header">
          <h1>prata</h1>
          <nav><ul>
            <li><a href="/auth/logout"><i class="fa fa-sign-out"></i></a></li>
            <li><a href="/user"><i class="fa fa-user"></i></a></li>
          </ul></nav>
          {{input id="new-message" class="pure-input-2-3" placeholder="What needs to be told?" value=newMessage action="createMessage"}}
          <button class="pure-button pure-button-primary" {{action "createMessage"}}>Post message</button>
        </header>

        <section id="main">
          <ul id="message-list" class="message-list">
            {{#each}}
              <li class="user-1">
                <p><abbr title="username">{{user.username}}</abbr> {{message}}</p>
                <p class="posted">{{createdAt}}</p>
              </li>
            {{/each}}
          </ul>
        </section>

      </section>
    </script>

    <script type="text/x-handlebars">
      <div class="content">
        {{outlet}}
      </div>
    </script>

    <!-- ... Ember.js and other javascript dependencies ... -->
    <script src="/ember/ember.js"></script>
    <script src="/ember-data/ember-data.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/router.js"></script>
    <script src="/js/models/message.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/controllers/messages_controller.js"></script>

<% include foot %>
