<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prata • CrazyCoders</title>
  </head>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="/css/prata.css">

  <script src="/jquery/jquery.min.js"></script>
  <script src="/handlebars/handlebars.js"></script>

  <body>
    <script type="text/x-handlebars" data-template-name="messages">
      <section id="prataapp">
        <header id="header">
          <h1>prata</h1>
              {{input id="new-message" class="pure-input-2-3" placeholder="What needs to be told?" value=newMessage action="createMessage"}}
            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </header>

        <section id="main">
          <ul id="message-list" class="message-list">
            {{#each}}
              <li class="user-1">
                <p><abbr title="username">{{user.username}}</abbr> {{message}}</p>
                <p class="posted">{{createdAt}}</p>
              </li>
            {{/each}}
          </ul>
        </section>

      </section>
    </script>

    <script type="text/x-handlebars">
      <div class="content">
        {{outlet}}
      </div>
    </script>

    <!-- ... Ember.js and other javascript dependencies ... -->
    <script src="/ember/ember.js"></script>
    <script src="/ember-data/ember-data.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/router.js"></script>
    <script src="/js/models/message.js"></script>
    <script src="/js/models/user.js"></script>
    <script src="/js/controllers/messages_controller.js"></script>
  </body>
</html>